.blue{
  color:skyblue;
}
.pink{
  color: rgb(255, 192, 203);
}
body{
  font-family: "Arial","Meiryo",sans-serif;
  text-align: center;
  font-size:20px;
}
#basic p{
  font-weight: bold;
}
.google-fonts{
 font-family: "Josefin Sans",sans-serif;
  font-optical-sizing: auto;
  font-weight: normal; 
} 
h1{
  letter-spacing: 1.2em;
   font-size: 2rem;
  text-shadow: 2px 2px 2px yellow;
  border-bottom: solid 3px rgb(115,115,114)
}