h1,p,body {
  margin: 0
}
p,a {
  font-size: 20px;
}
header {
  padding-bottom: 20px;
  background-color: rgb(244,79, 79);
  text-align: center;
  color: rgb(255, 255, 255)
}
main {
  padding: 10px 10px;
}
#parent {
  display: flex;
  justify-content: space-around;
}
.contents {
  border-width: 3px;
  border-style: solid;
  border-color: rgb(238, 204, 204);
  flex-basis: 25%;
  padding: 10px 15px;
  margin: 20px 0px;
  text-align: center;
}
h2::before {
  content: "●";
  color: rgb(239, 111, 139);
}
 .contents p:nth-of-type(2)::first-letter {
  color: rgb(97, 206, 249);
  font-weight: bold;
}
h2 {
  font-size: 25px;
  border-bottom: dotted 3px rgb(236, 122, 122);
}
img {
  margin: 10px 0px;
  width: 70%;
}
footer {
  background-color: rgb(244, 79, 79);
  text-align: center;
}
a:link {
  color: rgb(255, 255, 255);
}
a:visited {
  color: rgb(193, 234, 251);
}
a:hover {
  color: rgb(245, 178, 168);
}
/* 以下の例では、画面幅が768px以下のときにスタイルが適用されます */
@media screen and (max-width: 768px) {
/*　ここに通常のcssを書きます。以下は一例です*/
#parent {
    display: block;
} 
 h2 {
   font-size: 30px;
}
 p {
   font-size: 25px;
}
  }